* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body, #app {
    height: 100%;
}
body {
    background: #eee;
    font-size: 14px;
    font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
    color: #333;
}
#app {
    position: relative;
}
.home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 600px;
    width: 840px;
    background-image: url("../img/mobile_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 35px 71px 35px 73px;
}
.main {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    padding-top: 12px;
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12px;
}
.view {
    height: 100%;
    /* border: 1px solid rgba(237,237,237,.4); */
    padding: 10px;
    overflow: auto;
}
.view .unit {
    position: relative;
    width: 100%;
    height: 100%;
}
.tips {
    position: fixed;
    top: 100px;
    right: 90px;
    width: 150px;
    height: auto;
}
.tips-header {
    width: 100%;
    height: 42px;
    background-image: url("../img/tips_header_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px 10px 0;
}
.tips-body {
    width: 100%;
    height: auto;
    background-image: url("../img/tips_body_bg.png");
    background-size: 100% auto;
    background-repeat: repeat-y;
    padding: 0 10px 5px;
    font-size: 14px;
    color: #7f8c8d;
    max-height: 350px;
    word-break: break-all;
}
.tips-footer {
    width: 100%;
    height: 35px;
    background-image: url("../img/tips_footer_bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.tips-title {
    font-size: 16px;
    position: relative;
    padding-left: 23px;
    line-height: 18px;
}
.tips-title::before {
    content: "!";
    background-color: #f66;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    font-weight: bold;
    font-family: "Dosis", "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
}
.content {
    padding-right: 160px;
    max-height: 100%;
}
h2, h3, strong {
    font-weight: 600;
    color: #2c3e50;
}
.title {
    font-size: 24px;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.content p {
    margin: 10px 0;
    font-size: 16px;
    line-height: 26px;
    color: #34495e;
    text-indent: 32px;
}
.content a {
    color: #e96900;
    font-weight: 600;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.content .img {
    display: block;
    max-width: 150px;
    margin: 0 auto;
}
code, pre {
    font-family: "Roboto Mono", Monaco, courier, monospace;
    font-size: 0.8em;
    background-color: #f8f8f8;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    white-space: pre;
}
code {
    color: #e96900;
    padding: 3px 5px;
    margin: 0 2px;
    border-radius: 2px;
    white-space: nowrap;
}
.inline-block {
    display: inline-block;
}